.ascent-cc-app {
    margin: 2rem auto;
    max-width: $ascent_app_width;

    @include max-device('large-desktop') {
        margin: 2rem;
    }

    img {
        max-width: 100%;
    }

    .intro-p {
        font-size: 1.25rem;
    }
    
    .d-flex {
        display: flex;
        justify-content: space-between;
    }
}