.ascent-cc-app {
    margin: 2rem auto;
    max-width: $ascent_app_width;

    @include max-device('large-desktop') {
        margin: 2rem;
    }

    @include max-device('phone-landscape') {
        margin: 1rem;
    }

    @include max-device('phone-vintage') {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    .intro-p {
        font-size: 1.25rem;
    }
    
    .d-flex {
        display: flex;
        justify-content: space-between;

        &.stack-on-tablet {
            @include max-device('tablet') {
                flex-wrap: wrap;
            }
        }

        &.stack-on-landscape {
            @include max-device('phone-landscape') {
                flex-wrap: wrap;
            }
        }
    }

    .show-on-portrait {
        display: none;

        @include max-device('phone-portrait') {
            display: block;
        }
    }

    .show-on-tablet {
        display: none;

        @include max-device('tablet') {
            display: block;
        }
    }
}