$ascent_primary             : #326c9b;
$ascent_primary_heading     : #062e51;
$ascent_primary_text        : #333333;
$ascent_secondary_text      : #c14282;
$ascent_secondary_cta       : #337733;
$ascent_secondary_accent    : #f7921e;
$ascent_tertiary_accent     : #674f83;
$ascent_element_border      : transparentize(#979797, 0.22);

$ascent_font_stack          : "PT Sans", "Lucida Grande", Verdana, sans-serif;
$ascent_font_rem            : 16px;
$ascent_heading_hero        : 400 4rem/1.0625 $ascent_font_stack;
$ascent_heading_h1          : 700 3rem/1.0417 $ascent_font_stack;
$ascent_heading_h2          : 400 2.375rem/1.1842 $ascent_font_stack;
$ascent_heading_h3          : 400 1.5rem/1.1667 $ascent_font_stack;
$ascent_heading_h4          : 400 1.25rem/1.2 $ascent_font_stack;
$ascent_heading_h5          : 400 1rem/1.5 $ascent_font_stack;
$ascent_heading_h6          : 700 0.875rem/1.1429 $ascent_font_stack;

$ascent_app_width           : 1024px;
$ascent_border_radius       : 6px;
$ascent_box_shadow          : 0 18px 20px transparentize(black, 0.8);
$ascent_box_shadow_hover    : 0 18px 20px transparentize(black, 0.6);
$ascent_box_shadow_tablet   : 0 9px 10px transparentize(black, 0.8);

$devices: (
    phone-vintage: 321px,
    phone-portrait: 481px,
    phone-landscape: 569px,
    tablet: 769px,
    // desktop: 992px,
    large-desktop: $ascent_app_width + 33px
);