@import "variables.scss";
@import "globals.scss";

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: $ascent_secondary_text;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

body {
    background: #f7f7f9; // for testing only to ensure elements have backgrounds - remove before delivery
    color: $ascent_primary_text;
    font: 1rem/1.25 $ascent_font_stack;
    margin: 0;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $ascent_primary_heading;
    margin-bottom: 1rem;
}

h1 {
    font: $ascent_heading_h1;
}

h2 {
    font: $ascent_heading_h2;
}

h3 {
    font: $ascent_heading_h3;
}

h4 {
    font: $ascent_heading_h4;
}

h5 {
    font: $ascent_heading_h5;
}

h6 {
    font: $ascent_heading_h6;
}